rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAdmin() {
      return (isAuthenticated() && (
        request.auth.token.email == 'manuelngovene794@gmail.com' ||
        request.auth.token.email == 'admin@earnworld.com'
      ));
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId) || isAdmin() || (userId is string && userId.size() > 0);
    }

    match /user_credentials/{credId} {
      allow read, write: if true;
    }

    match /app_config/{docId} {
      allow read: if true;
      allow write: if isAdmin() || true;
    }

    match /tasks/{taskId} {
      allow read: if true;
      allow write: if isAdmin() || true;
    }

    match /withdrawals/{withdrawalId} {
      allow read: if true;
      allow create: if (withdrawalId is string && withdrawalId.size() > 0);
      allow update, delete: if isAdmin() || true;
    }

    match /transactions/{transactionId} {
      allow read: if true;
      allow create: if (transactionId is string && transactionId.size() > 0);
      allow update, delete: if isAdmin() || true;
    }
  }
}

